<!-- 
    Dakota Bourne - db2nb
    Matthew Reid - mrr7rn
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="Your Profile on connect uva">
    <meta name="author" content="Dakota and Matthew">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="uva, research, collaboration, professors">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- CHANGE THIS -->
    <link rel="stylesheet" href="/db2nb/connectuva/styles/main.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->

    <title>ConnectUVA</title>
</head>

<body>

    <div class="container landing">
        <div>
            <!-- Error block if items don't load correctly -->
            <div *ngIf="!showItems" class='alert alert-danger' #elseBlock>Error: could not
                grab user information</div>
        </div>

        <!-- Form shows if items load correctly -->
        <form *ngIf="showItems" [ngClass]="'row justify-content-center'" [ngStyle]="{'margin-bottom': '20px'}"
            #editForm="ngForm" (ngSubmit)="submitForm(editForm.value)" ngNativeValidate>

            <!-- Displays user's information -->
            <div class="col-md-8">
                <h3>Name: {{user.name}}</h3>
                <h3>Email: {{user.email}}</h3>
            </div>

            <!-- Switch statement logic for editing user information -->
            <div [ngSwitch]="editing" class="col-md-3" [ngStyle]="{'min-height': '112px'}">

                <!-- If editing, this is the form that gets sent to the backend -->
                <label *ngSwitchCase="'true'" for="name" class="form-label">New Name</label>
                <input *ngSwitchCase="'true'" type="text" class="form-control" id="name" name="name"
                    [(ngModel)]="user.name" required />
                <button type="submit" *ngSwitchCase="'true'" class="btn btn-danger"
                    [ngStyle]="{'margin-top': '4px'}">Confirm</button>

                <!-- Edit Profile Button -->
                <button *ngSwitchDefault class='btn btn-warning' (click)="toggleEditing()"
                    [ngStyle]="{'bottom': '0', 'position': 'absolute'}">Edit
                    Profile</button>
            </div>
        </form>
        <!-- maybe fac or student -->
        <!-- maybe an edit -->

        <!-- Delete Profile Button -->
        <form [ngClass]="'row'" *ngIf="showItems" [ngStyle]="{'padding-top': '24.20px'}" #delForm="ngForm"
            (ngSubmit)="deleteProfile()">
            <button type="submit" class="col-md-2 btn btn-danger">DELETE PROFILE</button>
            <input type="hidden" name="delete" value="1" />
        </form>
    </div>

</body>

</html>